NEXT_PUBLIC_API_BASE_URL='http://localhost:8000'
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME='dbpbbz40v'
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET='zididzm'
NEXT_PUBLIC_ICD11_API_URL='https://icd11restapi-developer-test.azurewebsites.net'