DJANGO_SECRET_KEY='django-insecure-8^t2arv-ij!sx0vi3%1^s7ja)2z&%cvl@ters3kxr!^86w9h*-'
DIN_SECRET_KEY='fe5b405034318fc704db6b179a94c6ab1c7d911644873ebf6d1aa620f03b898a'
ZDID_SIGNING_PRIVATE_KEY=C:\Users\LENOVO\PycharmProjects\digital-id-prototype\Backend\zdid_private_key.pem
ZDID_SIGNING_PUBLIC_KEY=C:\Users\LENOVO\PycharmProjects\digital-id-prototype\Backend\zdid_public_key.pem